@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --neon-red: rgb(255, 49, 49);
    --neon-red-effect: 0 0 2px rgba(255, 0, 0, 0.479), 0 0 5px rgba(255, 0, 0, 0.473), 0 0 10px rgb(255, 0, 0);
    --neon-green: rgb(0, 246, 0);
    --neon-green-effect: 0 0 2px rgba(0, 205, 0, 0.479), 0 0 5px rgba(5, 187, 5, 0.473), 0 0 10px rgb(0, 167, 0);
    --neon-blue: rgb(62, 62, 255);
    --neon-blue-effect: 0 0 2px rgba(41, 41, 255, 0.788), 0 0 5px rgba(48, 48, 248, 0.719), 0 0 10px rgb(48, 48, 252);
}


/*body config for normal screens*/

body {
    background: #08032e;
    margin: 2em;
    font-family: 'Roboto';
    color: #fff;
    max-width: 100%;
    overflow-x: hidden;
}


/* navigation area/menu */

nav {
    display: none;
}

nav.menu-btn {
    display: block;
}

nav {
    z-index: 999;
    position: fixed;
    width: 75%;
    right: 0;
    top: 0;
    background: #0d044bf4;
    height: 100vh;
    padding: 1em;
    ul.navigation-menu {
        margin-top: 4em;
    }
    li {
        a {
            display: block;
            text-decoration: none;
            color: #fff;
            padding: .5em;
            font-size: 2em;
            text-align: right;
            &:hover {
                color: var(--neon-red);
                text-shadow: var(--neon-red-effect);
            }
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding-top: 10em;
    padding-bottom: 10em;
}

.navigation-bar {
    background: #070426f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: -2em;
    margin-bottom: 2em;
    padding: 0.5em;
    color: #fff;
    .logo {
        font-size: 1em;
        padding: 1em;
        //round padding
        border-radius: 25%;
        cursor: pointer;
        text-decoration: none;
        color: var(--neon-red);
        text-shadow: var(--neon-red-effect);
        transition: 0.25s;
    }
    .navigation-menu-big {
        display: none;
    }
    .mobile-menu {
        padding: 1em;
        cursor: pointer;
        transition: 0.25s;
    }
    .mobile-menu-exit {
        transition: 2s;
        padding: 1em;
        float: right;
        cursor: pointer;
        &:hover {
            color: var(--neon-red);
            text-shadow: var(--neon-red-effect);
        }
    }
}

.menu-btn {
    display: none;
}

.mobile-menu:hover {
    transform: scale3d(1.2, 1.4, 1.2);
    transition: 0.25s;
}

.logo:hover {
    transform: scale3d(1.2, 1.4, 1.2);
    transition: 0.25s;
}


/* end of navigation area */

.hero {
    text-align: center;
}

//first introduction area
.first-introduction {
    display: flex;
    place-content: space-between;
    margin-top: -5em;
    align-items: center;
    .left-column {
        font-size: 1.5em;
        padding-right: 10%;
    }
    span {
        color: var(--neon-red);
        text-shadow: var(--neon-red-effect);
    }
    .subheader {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        margin-top: -0.5em;
        color: #7461ff7c;
        letter-spacing: 0.15em;
    }
    .vl {
        padding-left: 0.1em;
        padding-right: 0.1em;
        border-left: 2px solid var(--neon-red);
        height: 10em;
        box-shadow: var(--neon-red-effect);
    }
    .right-column {
        font-size: 1em;
        padding-left: 10%;
    }
}

//made for using site in really small screens
.right-column-small {
    display: none;
}

.container {
    display: flex;
    place-content: space-between;
}

//part 2 of the introduction, some personal info
.personal-info {
    .little-story {
        h1 {
            font-size: 1.5em;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.15em;
        }
        span {
            color: var(--neon-green);
            text-shadow: var(--neon-green-effect);
        }
    }
}

//part 3 of the introduction, some projects
.projects {
    display: block;
    margin-bottom: 4em;
    h1 {
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.15em;
        padding-bottom: 2em;
    }
    ul {
        margin: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        align-items: center;
        .imagesGrid {
            p {
                font-size: 1em;
                vertical-align: text-bottom;
                max-width: 15em;
            }
            img {
                image-rendering: optimizeSpeed;
                object-fit: contain;
                width: 15em;
                height: 12em;
            }
        }
    }
    span {
        color: var(--neon-blue);
        text-shadow: var(--neon-blue-effect);
    }
}

//contact area
.contact {
    .contact-info {
        margin-right: 0.5em;
        padding: 0.5em;
        width: 50%;
    }
    .final-consideration {
        margin-left: 0.5em;
        padding: 0.5em;
        width: 50%;
    }
    margin: -2em;
    background: #05021df9;
    box-shadow: 0 0 10px rgba(0,
    0,
    0,
    0.5);
    padding: 1em 1em 1em 1em;
}

@media only screen and (max-width: 1148px) {
    .projects {
        ul {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
}

//mobile adaptation area
@media only screen and (min-width: 768px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
        margin: 5em;
    }
    section {
        margin-left: 3em;
        margin-right: 3em;
    }
    .navigation-bar {
        margin: -5em;
        .logo {
            font-size: 1.5em;
        }
        .navigation-menu-big {
            display: flex;
            li {
                grid: 0;
                padding: 1em;
                margin: auto;
                a {
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    text-align: right;
                    transition: 00.15s;
                    &:hover {
                        color: var(--neon-red);
                        text-shadow: var(--neon-red-effect);
                        transform: scale3d(1.5, 1.5, 1.5);
                    }
                }
            }
        }
        .mobile-menu,
        .mobile-menu-exit {
            display: none;
        }
    }
    .first-introduction {
        margin-top: 3em;
        padding-top: 3em;
    }
    .right-column-small {
        display: none;
    }
    .contact {
        margin: -5em;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15em;
        //make a gap in the most outer part of the grid
        padding-right: 10em;
        padding-left: 10em;
    }
}

@media only screen and (max-width: 665px) {
    .projects {
        ul {
            display: block;
            .imagesGrid {
                img {
                    align-items: center;
                }
            }
        }
    }
}

//really small screens adaptation area
@media only screen and (max-width: 476px) {
    .first-introduction {
        .left-column {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .vl {
            display: none;
        }
        .right-column {
            display: none;
        }
    }
    .right-column-small {
        margin-top: 1em;
        display: block;
    }
}