@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --neon-red: rgb(255, 49, 49);
  --neon-red-effect: 0 0 2px rgba(255, 0, 0, 0.479),
    0 0 5px rgba(255, 0, 0, 0.473), 0 0 10px rgb(255, 0, 0);
  --neon-green: rgb(0, 246, 0);
  --neon-green-effect: 0 0 2px rgba(0, 205, 0, 0.479),
    0 0 5px rgba(5, 187, 5, 0.473), 0 0 10px rgb(0, 167, 0);
  --neon-blue: rgb(62, 62, 255);
  --neon-blue-effect: 0 0 2px rgba(41, 41, 255, 0.788),
    0 0 5px rgba(48, 48, 248, 0.719), 0 0 10px rgb(48, 48, 252);
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  background-color: #000;
}

section {
  scroll-snap-align: start;
}

.navigation-bar {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5vh;
  padding-left: 40px;
  padding-right: 30px;
  background-color: #000;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-bar .logo {
  font-size: 1.25em;
  padding-left: 2vw;
  cursor: pointer;
  text-decoration: none;
  color: #5626c4;
  text-shadow: var(--neon-blue-effect);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navigation-bar .logo:hover {
  -webkit-transform: scale3d(1.2, 1.4, 1.2);
          transform: scale3d(1.2, 1.4, 1.2);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navigation-bar .menu a {
  color: lightgray;
  text-decoration: none;
  -webkit-transition: 00.25s;
  transition: 00.25s;
  padding-left: 1em;
}

.navigation-bar .menu a:hover {
  -webkit-transform: scale3d(1.2, 1.4, 1.2);
          transform: scale3d(1.2, 1.4, 1.2);
  text-shadow: var(--neon-blue-effect);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navigation-bar .menu-btn {
  display: none;
}

.introduction {
  background-color: #5626c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.introduction .intro-elements {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction .intro-elements .photo {
  -o-object-fit: cover;
     object-fit: cover;
  border: #ffffff solid 0.25em;
  -webkit-box-shadow: #0e0013 0 0 5em;
          box-shadow: #0e0013 0 0 5em;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  margin: 0;
}

.introduction .intro-elements .about {
  height: auto;
  width: 50%;
  font-family: "Roboto", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.introduction .intro-elements .about .about-title {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

.introduction .intro-elements .about .about-title span {
  color: var(--neon-red);
  text-shadow: var(--neon-red-effect);
}

.introduction .intro-elements .about .about-description {
  font-size: 1.25em;
  text-align: center;
  margin: 0;
}

.story {
  background-color: #646c79;
  color: #181818;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story .left-column {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story .right-column {
  width: 50%;
}

.projects {
  background-color: #1f3044;
  height: 100vh;
  color: #c3c4d5;
}

.projects h1 {
  margin: 0;
  padding-top: 7vh;
  font-size: 3em;
  font-weight: bold;
}

.projects h1 span {
  color: var(--neon-blue);
  text-shadow: var(--neon-blue-effect);
}

.projects ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  list-style-type: none;
  padding-top: 2vh;
  padding-bottom: 25vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects ul .imagesGrid {
  padding-bottom: 2em;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects ul .imagesGrid p {
  margin-left: 1vw;
  font-size: 1em;
  max-width: 20vw;
  padding-top: 1em;
}

.projects ul .imagesGrid a {
  text-decoration: none;
  font-size: 1em;
  max-width: 20vw;
}

.projects ul .imagesGrid img {
  -o-object-fit: cover;
     object-fit: cover;
  border: var(--neon-blue);
  -webkit-box-shadow: var(--neon-blue-effect);
          box-shadow: var(--neon-blue-effect);
  width: 20vw;
  height: 11vw;
}

.last-section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.last-section .skills {
  background-color: #111924;
  height: 92vh;
}

.last-section .skills h1 {
  margin: 0;
  padding-left: 2vw;
  padding-top: 7vh;
  color: #c3c4d5;
  font-size: 3em;
  font-weight: bold;
}

.last-section .skills h1 span {
  color: var(--neon-green);
  text-shadow: var(--neon-green-effect);
}

.last-section .skills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last-section .skills ul .skillsGrid {
  margin-left: 1vw;
  margin-right: 1vw;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  padding-bottom: 10vh;
}

.last-section .skills ul .skillsGrid img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 10vw;
  height: 6vw;
}

.last-section .contact {
  display: absolute;
  bottom: 0;
  margin-left: -1vw;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}

.last-section .contact .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last-section .contact .socialmedia img {
  height: 2.25vh;
  width: auto;
  padding-top: 0.25vh;
  padding-left: 2vw;
}

.last-section .contact .socialmedia img:hover {
  cursor: pointer;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media only screen and (max-width: 760px) {
  .navigation-bar {
    margin-left: -2vw;
  }
  .navigation-bar .menu {
    display: none;
  }
  .navigation-bar .menu-btn {
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
            transform: scale3d(0.7, 0.7, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1em;
    cursor: pointer;
  }
  .navigation-bar .menu-btn:hover {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
}
/*# sourceMappingURL=main.css.map */