@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --neon-red: rgb(255, 49, 49);
  --neon-red-effect: 0 0 2px rgba(255, 0, 0, 0.479), 0 0 5px rgba(255, 0, 0, 0.473), 0 0 10px rgb(255, 0, 0);
  --neon-green: rgb(0, 246, 0);
  --neon-green-effect: 0 0 2px rgba(0, 205, 0, 0.479), 0 0 5px rgba(5, 187, 5, 0.473), 0 0 10px rgb(0, 167, 0);
  --neon-blue: rgb(62, 62, 255);
  --neon-blue-effect: 0 0 2px rgba(41, 41, 255, 0.788), 0 0 5px rgba(48, 48, 248, 0.719), 0 0 10px rgb(48, 48, 252);
}

body {
  background: #030113;
  margin: 2em;
  font-family: 'Roboto';
  color: #fff;
}

nav {
  display: none;
}

.navigation-bar {
  background: #040215f9;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: -2em;
  margin-bottom: 2em;
  padding: 0.5em;
  color: #fff;
}

.navigation-bar .logo {
  padding: 1em;
  border-radius: 25%;
  cursor: pointer;
  text-decoration: none;
  color: var(--neon-red);
  text-shadow: var(--neon-red-effect);
}

.navigation-bar .mobile-menu {
  padding: 1em;
}

.navigation-bar .mobile-menu-exit {
  padding: 1em;
  float: right;
  cursor: pointer;
}

.navigation-bar .mobile-menu-exit:hover {
  color: var(--neon-red);
  text-shadow: var(--neon-red-effect);
}

nav.menu-btn {
  display: block;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.first-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  margin-top: -5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-introduction .left-column {
  padding-right: 10%;
}

.first-introduction span {
  color: var(--neon-red);
  text-shadow: var(--neon-red-effect);
}

.first-introduction .subheader {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: -0.5em;
  color: #7461ff7c;
  letter-spacing: 0.15em;
}

.first-introduction .vl {
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-left: 2px solid var(--neon-red);
  height: 10em;
  -webkit-box-shadow: var(--neon-red-effect);
          box-shadow: var(--neon-red-effect);
}

.first-introduction .right-column {
  padding-left: 10%;
}

.mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding-top: 10em;
  padding-bottom: 10em;
}

.hero {
  text-align: center;
}

.personal-info .little-story span {
  color: var(--neon-green);
  text-shadow: var(--neon-green-effect);
}

.projects span {
  color: var(--neon-blue);
  text-shadow: var(--neon-blue-effect);
}

.contact {
  margin: -2em;
  background: #040215f9;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1em 1em 1em 1em;
}

.contact .contact-info {
  margin-right: 0.5em;
  padding: 0.5em;
  width: 50%;
}

.contact .final-consideration {
  margin-left: 0.5em;
  padding: 0.5em;
  width: 50%;
}

nav.menu-btn {
  display: block;
}

nav {
  z-index: 999;
  position: fixed;
  width: 75%;
  right: 0;
  top: 0;
  background: #060037f4;
  height: 100vh;
  padding: 1em;
}

nav ul.navigation-menu {
  margin-top: 4em;
}

nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: .5em;
  font-size: 2em;
  text-align: right;
}

nav li a:hover {
  color: var(--neon-red);
  text-shadow: var(--neon-red-effect);
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  section {
    margin-left: 3em;
    margin-right: 3em;
  }
  .first-introduction {
    padding-top: 3em;
  }
}
/*# sourceMappingURL=main.css.map */